<div class="navbar navbar-light navbar-expand-sm" style="background-color:#007bff;">
    <i class="material-icons" style="color:white">payment</i><a class="p-1 navbar-brand" style="color:white" routerLink="">Bill Payment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar">
                      <span class="navbar-toggler-icon" style="color:white"></span>
                  </button>
    <div class="collapse navbar-collapse mr-auto " id="mynavbar">
        <ul class=" collapse navbar-collapse navbar-nav nav justify-content-end " id="mynavbar">
            <li class="nav-item mr-sm-0 mr-md-0 mr-auto">
                <a class="nav-link" style="color:white" href="#" *ngIf="!isAnonymous()"><i class="material-icons" style="color:white">person</i>&nbsp;{{getLoggedInUser()}}</a></li>
            <li class="nav-item  mr-sm-0 mr-md-0 mr-auto">
                <a class="nav-link" style="color:white" *ngIf="!isAnonymous()" (click)=logout()>Logout</a>
            </li>
            <li class="nav-item  mr-sm-0 mr-md-0 mr-auto">
                <a class="nav-link" style="color:white" *ngIf="isAnonymous()" (click)=login()>Login</a>
            </li>
            <li class="nav-item  mr-sm-0 mr-md-0 mr-auto">
                <a class="nav-link" style="color:white" *ngIf="isAnonymous()" (click)=signup()>Signup</a>
            </li>
        </ul>
    </div>
</div>