<div class="container" *ngIf="dataLoaded | async">
    <div class="card m-3 p-3 mb-5">
        <h1>Vendor Registration</h1>
        <div id="status" style="background-color: red" *ngIf="vendorExists">Vendor already Exists!!</div>
        <form [formGroup]="registrationForm" (submit)="sendValue()">
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="vendorName">Vendor Name</label>
                    <input type="text" class="form-control" id="vendorName" formControlName="vendorName"
                        placeholder="Enter Vendor Name">
                    <div *ngIf="!registrationForm.controls.vendorName.valid && ( registrationForm.controls.vendorName.dirty || registrationForm.controls.vendorName.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.vendorName.errors.required">
                            Vendor Name is Required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.vendorName.invalid && !registrationForm.controls.vendorName.errors.required">
                            Vendor Name is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.vendorName.valid || !(registrationForm.controls.vendorName.dirty || registrationForm.controls.vendorName.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="vendorRegNo">Vendor Registration Number</label>
                    <input type="text" class="form-control" id="vendorRegNo" formControlName="vendorRegNo"
                        placeholder="Enter Vendor Registration Number">
                    <div *ngIf="!registrationForm.controls.vendorRegNo.valid && ( registrationForm.controls.vendorRegNo.dirty || registrationForm.controls.vendorRegNo.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.vendorRegNo.errors.required">
                            Vendor Registration Number is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.vendorRegNo.invalid && !registrationForm.controls.vendorRegNo.errors.required">
                            Vendor Registration Number is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.vendorRegNo.valid || !(registrationForm.controls.vendorRegNo.dirty || registrationForm.controls.vendorRegNo.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="addrLine">Address Line </label>
                    <input type="text" class="form-control" id="addrLine" formControlName="addrLine"
                        placeholder="Enter Address Line 1">
                    <div *ngIf="!registrationForm.controls.addrLine.valid && ( registrationForm.controls.addrLine.dirty || registrationForm.controls.addrLine.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.addrLine.errors.required">
                            Address is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.addrLine.invalid && !registrationForm.controls.addrLine.errors.required">
                            Address is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.addrLine.valid || !(registrationForm.controls.addrLine.dirty || registrationForm.controls.addrLine.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="imageURL">Image URL</label>
                    <input type="text" class="form-control" id="imageURL" formControlName="imageURL"
                        placeholder="Enter Address Line 2">
                    <div *ngIf="!registrationForm.controls.imageURL.valid && ( registrationForm.controls.imageURL.dirty || registrationForm.controls.imageURL.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.imageURL.errors.required">
                            Image URL is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.imageURL.invalid && !registrationForm.controls.imageURL.errors.required">
                            Image URL is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.imageURL.valid || !(registrationForm.controls.imageURL.dirty || registrationForm.controls.imageURL.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="country">Country</label><br>
                    <select id="country" formControlName="country" class="form-control">
                        <option *ngFor="let item of countriesMap | keyvalue" value="{{item.value}}">{{item.value}}
                        </option>
                    </select>
                    <div *ngIf="!registrationForm.controls.country.valid && ( registrationForm.controls.country.dirty || registrationForm.controls.country.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.country.errors.required">
                            Country is required
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.country.valid || !(registrationForm.controls.country.dirty || registrationForm.controls.country.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <div>
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" formControlName="state"
                            placeholder="Enter the State">
                        <div *ngIf="!registrationForm.controls.state.valid && ( registrationForm.controls.state.dirty || registrationForm.controls.state.touched ) "
                            class="text-danger">
                            <small *ngIf="registrationForm.controls.state.errors.required">
                                State is required
                            </small>
                            <small
                                *ngIf="registrationForm.controls.state.invalid && !registrationForm.controls.state.errors.required">
                                State is invalid
                            </small>
                        </div>
                        <div class="text-danger">
                            <small
                                *ngIf="registrationForm.controls.state.valid || !(registrationForm.controls.state.dirty || registrationForm.controls.state.touched)"><br></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="email">E-Mail Address</label>
                    <input type="email" class="form-control" id="email" formControlName="email"
                        placeholder="Enter E-mail address">
                    <div *ngIf="!registrationForm.controls.email.valid && ( registrationForm.controls.email.dirty || registrationForm.controls.email.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.email.errors.required">
                            Email address is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.email.invalid && !registrationForm.controls.email.errors.required">
                            Email address is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.email.valid || !(registrationForm.controls.email.dirty || registrationForm.controls.email.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="vendorType">Vendor Type</label><br>
                    <select id="vendorType" formControlName="vendorType" class="form-control">
                        <option value="Electricity">Electricity</option>
                        <option value="Telephone">Telephone</option>
                        <option value="DTH">DTH</option>
                        <option value="Insurance">Insurance</option>
                        <option value="Tax">Tax</option>
                        <option value="Credit Card">Credit Card</option>
                        <option value="Loan account">Loan account</option>
                        <option value="Others">Others</option>
                    </select>
                    <div *ngIf="!registrationForm.controls.vendorType.valid && ( registrationForm.controls.vendorType.dirty || registrationForm.controls.vendorType.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.vendorType.errors.required">
                            Vendor Type is required
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.vendorType.valid || !(registrationForm.controls.vendorType.dirty || registrationForm.controls.vendorType.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="contactNum">Contact Number</label>
                    <input type="text" class="form-control" id="contactNum" formControlName="contactNum"
                        placeholder="Enter Contact number">
                    <div *ngIf="!registrationForm.controls.contactNum.valid && ( registrationForm.controls.contactNum.dirty || registrationForm.controls.contactNum.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.contactNum.errors.required">
                            Contact Number is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.contactNum.invalid && !registrationForm.controls.contactNum.errors.required">
                            Contact number is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.contactNum.valid || !(registrationForm.controls.contactNum.dirty || registrationForm.controls.contactNum.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="website">Web site address</label>
                    <input type="url" class="form-control" id="website" formControlName="website"
                        placeholder="Enter Website address">
                    <div *ngIf="!registrationForm.controls.website.valid && ( registrationForm.controls.website.dirty || registrationForm.controls.website.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.website.errors.required">
                            Website address is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.website.invalid && !registrationForm.controls.website.errors.required">
                            Website address is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.website.valid || !(registrationForm.controls.website.dirty || registrationForm.controls.website.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="issuedDate">Certificate Issued Date</label>
                    <input type="date" class="ui-datepicker form-control" id="issuedDate" formControlName="issuedDate"
                        placeholder="Enter certificate issued date">
                    <div *ngIf="!registrationForm.controls.issuedDate.valid && ( registrationForm.controls.issuedDate.dirty || registrationForm.controls.issuedDate.touched ) "
                        class="text-danger">
                        <small>
                            Certificate issued date is required
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.issuedDate.valid || !(registrationForm.controls.issuedDate.dirty || registrationForm.controls.issuedDate.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="validityDate">Certificate Issued Date</label>
                    <input type="date" class="ui-datepicker form-control" id="validityDate"
                        formControlName="validityDate" placeholder="Enter certificate validity date">
                    <div *ngIf="!registrationForm.controls.validityDate.valid && ( registrationForm.controls.validityDate.dirty || registrationForm.controls.validityDate.touched ) "
                        class="text-danger">
                        <small>
                            Certificate validity date is required
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.validityDate.valid || !(registrationForm.controls.validityDate.dirty || registrationForm.controls.validityDate.touched)"><br></small>
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="establishedYr">Year of Establishment</label><br>
                    <select id="establishedYr" formControlName="establishedYr" class="form-control">
                        <option *ngFor="let item of numbers" value="{{item}}">{{item}}</option>
                    </select>
                    <div *ngIf="!registrationForm.controls.establishedYr.valid && ( registrationForm.controls.establishedYr.dirty || registrationForm.controls.establishedYr.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.establishedYr.errors.required">
                            Year of establishment is required
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.establishedYr.valid || !(registrationForm.controls.establishedYr.dirty || registrationForm.controls.establishedYr.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="gateway">Enter Payment Gateway</label>
                    <input type="url" class="form-control" id="gateway" formControlName="gateway"
                        placeholder="Enter Website address">
                    <div *ngIf="!registrationForm.controls.gateway.valid && ( registrationForm.controls.gateway.dirty || registrationForm.controls.gateway.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.gateway.errors.required">
                            Payment Gateway is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.gateway.invalid && !registrationForm.controls.gateway.errors.required">
                            Payment Gateway is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.gateway.valid || !(registrationForm.controls.gateway.dirty || registrationForm.controls.gateway.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" formControlName="pwd"
                        placeholder="Enter Password">
                    <div *ngIf="!registrationForm.controls.pwd.valid && ( registrationForm.controls.pwd.dirty || registrationForm.controls.pwd.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.pwd.errors.required">
                            Password is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.pwd.invalid && !registrationForm.controls.pwd.errors.required">
                            Password is invalid
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.pwd.valid || !(registrationForm.controls.pwd.dirty || registrationForm.controls.pwd.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="cnfPwd">Confirm Password</label>
                    <input type="password" class="form-control" id="cnfPwd" formControlName="cnfPwd"
                        placeholder="Enter confirm password">
                    <div *ngIf="!registrationForm.controls.cnfPwd.valid && ( registrationForm.controls.cnfPwd.dirty || registrationForm.controls.cnfPwd.touched ) "
                        class="text-danger">
                        <small *ngIf="registrationForm.controls.cnfPwd.errors.required">
                            Confirm password is required
                        </small>
                        <small
                            *ngIf="registrationForm.controls.cnfPwd.invalid && !registrationForm.controls.cnfPwd.errors.required && !registrationForm.controls.cnfPwd.errors.mismatch">
                            Confirm password is invalid
                        </small>
                        <small
                            *ngIf="registrationForm.controls.cnfPwd.invalid && !registrationForm.controls.cnfPwd.errors.required && registrationForm.controls.cnfPwd.errors.mismatch">
                            Password and Confirm password does not match
                        </small>
                    </div>
                    <div class="text-danger">
                        <small
                            *ngIf="registrationForm.controls.cnfPwd.valid || !(registrationForm.controls.cnfPwd.dirty || registrationForm.controls.cnfPwd.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn"
                    [disabled]="!registrationForm.valid || invalid">Register</button>
            </div>
        </form>
    </div>
</div>


