<div id="demo" class="carousel slide mb-2" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.kotak.com/content/dam/Kotak/herosliderbanner/billpay-desktop.jpg" alt="Los Angeles" width="100%" height="10%">
        </div>
        <div class="carousel-item">
            <img src="https://www.bankofbaroda.in/writereaddata/Portal/CMS_Template_Banner/520_1_bbps-banner.jpg" alt="Chicago" width="100%" height="10%">
        </div>
        <div class="carousel-item">
            <img src="https://m.media-amazon.com/images/G/31/img19/AmazonPay/LPA/Dashboard/BMS_PC_Dashboard_770x150_1._CB448266502_.jpg" alt="New York" width="100%" height="10%">
        </div>
        <div class="carousel-item">
            <img src="https://m.media-amazon.com/images/G/31/img16/GiftCards/WeddingStore/Retail_GC_770x150_01._CB447560580_.jpg" alt="New York" width="100%" height="10%">
        </div>
    </div>

</div>