<div class="container">
    <div class="card m-3 p-3 mb-5">
        <div class=" justify-content-center">
            <h1>{{paymentGateway}} Login</h1>
        </div>

        <br>
        <form [formGroup]="paymentForm" (submit)="sendValue()">

            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12" *ngIf="paymentType==1">
                    <label for="ccNumber">Credit Card Number</label>
                    <input type="text" class="form-control" id="ccNumber" formControlName="ccNumber" placeholder="Enter Credit Card Number">
                    <div *ngIf="!paymentForm.controls.ccNumber.valid && (paymentForm.controls.ccNumber.dirty || paymentForm.controls.ccNumber.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.ccNumber.errors.required">
                                Credit card Number is required
                              </small>
                        <small *ngIf="paymentForm.controls.ccNumber.invalid && !paymentForm.controls.ccNumber.errors.required">
                                    Credit Card Number is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.ccNumber.valid || !(paymentForm.controls.ccNumber.dirty || paymentForm.controls.ccNumber.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12" *ngIf="paymentType==2">
                    <label for="userId">User Id</label>
                    <input type="text" class="form-control" id="userId" formControlName="userId" placeholder="Enter Netbanking User Id">
                    <div *ngIf="!paymentForm.controls.userId.valid && (paymentForm.controls.userId.dirty || paymentForm.controls.userId.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.userId.errors.required">
                                User ID is required
                              </small>
                        <small *ngIf="paymentForm.controls.userId.invalid && !paymentForm.controls.userId.errors.required">
                                    User ID is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.userId.valid || !(paymentForm.controls.userId.dirty || paymentForm.controls.userId.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12" *ngIf="paymentType==3 || paymentType==4">
                    <label for="mobileNumber">Mobile Number</label>
                    <input type="text" class="form-control" id="mobileNumber" formControlName="mobileNumber" placeholder="Enter Mobile number">
                    <div *ngIf="!paymentForm.controls.mobileNumber.valid && (paymentForm.controls.mobileNumber.dirty || paymentForm.controls.mobileNumber.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.mobileNumber.errors.required">
                                Mobile Number is required
                              </small>
                        <small *ngIf="paymentForm.controls.mobileNumber.invalid && !paymentForm.controls.mobileNumber.errors.required">
                                    Mobile Number is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.mobileNumber.valid || !(paymentForm.controls.mobileNumber.dirty || paymentForm.controls.mobileNumber.touched)"><br></small>
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12" *ngIf="paymentType==1">
                    <label for="cvv">CVV</label>
                    <input type="password" class="form-control" id="cvv" formControlName="cvv" placeholder="Enter Card CVV">
                    <div *ngIf="!paymentForm.controls.cvv.valid && (paymentForm.controls.cvv.dirty || paymentForm.controls.cvv.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.cvv.errors.required">
                                CVV Number is required
                              </small>
                        <small *ngIf="paymentForm.controls.cvv.invalid && !paymentForm.controls.cvv.errors.required">
                                CVV Number is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.cvv.valid || !(paymentForm.controls.cvv.dirty || paymentForm.controls.cvv.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12" *ngIf="paymentType==2 || paymentType==3">
                    <label for="password">Passsword</label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Mobile number">
                    <div *ngIf="!paymentForm.controls.password.valid && (paymentForm.controls.password.dirty || paymentForm.controls.password.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.password.errors.required">
                                Password is required
                              </small>
                        <small *ngIf="paymentForm.controls.password.invalid && !paymentForm.controls.password.errors.required">
                                    Password is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.password.valid || !(paymentForm.controls.password.dirty || paymentForm.controls.password.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12" *ngIf="paymentType==4">
                    <label for="mpin">M-PIN</label>
                    <input type="password" class="form-control" id="mpin" formControlName="mpin" placeholder="Enter Mobile number">
                    <div *ngIf="!paymentForm.controls.mpin.valid && (paymentForm.controls.mpin.dirty || paymentForm.controls.mpin.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.mpin.errors.required">
                                M-PIN number is required
                              </small>
                        <small *ngIf="paymentForm.controls.mpin.invalid && !paymentForm.controls.mpin.errors.required">
                                    M-PIN number is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.mpin.valid || !(paymentForm.controls.mpin.dirty || paymentForm.controls.mpin.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <button type="submit" class="btn" style="background-color: #007bff;color: white;" [disabled]="!paymentForm.valid || invalid">Pay</button>
            </div>
        </form>
    </div>
</div>