<!-- <div>
    <img class="card-img-top embed-responsive-item embed-responsive-16by9" src="{{vendor.imageURL}}">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <label for="vendorName" class="h3 card-title ml-0">
                    {{vendor.vendorName}}
                </label>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="m-2">
                <div class="h5" style="color: gray;">{{vendor.vendorType}}</div>
            </div>
            <div class="m-2">
                <span *ngIf="vendor.status==0" class="badge badge-success mr-0" style="background-color:blueviolet;border-radius: 3px;">
                        Signed up
                    </span>
                <span *ngIf="vendor.status==1" class="badge badge-success mr-0" style="background-color: green;border-radius: 3px;">
                        Accepted
                    </span>
                <span *ngIf="vendor.status==2" class="badge uk-badge-danger mr-0" style="background-color: red;border-radius: 3px;">
                        Rejected
                    </span>
                <span *ngIf="vendor.status==3" class="badge badge-warning mr-0" style="background-color:orange;border-radius: 3px;">
                        Sent for review
                    </span>
                <span *ngIf="vendor.status==4" class="badge badge-warning mr-0" style="background-color:coral;border-radius: 3px;">
                        Correction Done
                    </span>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn" (click)="review(vendor.vendorId)">Edit</button>
        </div>
    </div>
</div> -->


<div class="row ml-2 mb-5" *ngIf="dataLoaded | async">
    <div class="m-3 rounded-3 card col-xs-12 col-sm-6 col-md-4 col-lg-3 my-3 mx-2" *ngFor="let vednorItem of vendorItems">
        <div>
            <img class="card-img-top embed-responsive-item embed-responsive-16by9" src="{{vednorItem.imageURL}}">
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <label for="vendorName" class="h3 card-title ml-0">
                                        {{vednorItem.vendorName}}
                                    </label>
                </div>
                <div class="row d-flex justify-content-between">
                    <div class="m-2">
                        <div class="h5" style="color: gray;">{{vednorItem.vendorType}}</div>
                    </div>
                    <div class="m-2">
                        <span *ngIf="vednorItem.status==0" class="badge badge-success mr-0" style="background-color:blueviolet;border-radius: 3px;">
                                            Signed up
                                        </span>
                        <span *ngIf="vednorItem.status==1" class="badge badge-success mr-0" style="background-color: green;border-radius: 3px;">
                                            Accepted
                                        </span>
                        <span *ngIf="vednorItem.status==2" class="badge uk-badge-danger mr-0" style="background-color: red;border-radius: 3px;">
                                            Rejected
                                        </span>
                        <span *ngIf="vednorItem.status==3" class="badge badge-warning mr-0" style="background-color:orange;border-radius: 3px;">
                                            Sent for review
                                        </span>
                        <span *ngIf="vednorItem.status==4" class="badge badge-warning mr-0" style="background-color:coral;border-radius: 3px;">
                                            Correction Done
                                        </span>
                    </div>
                </div>
                <div class="row d-flex justify-content-center bg-danger rounded">{{vednorItem.remark}}</div>
                <div class="row d-flex justify-content-center">
                    <button type="button" class="btn" style="background-color: #318df0;color: white;" (click)="edit(vednorItem.vendorId)" data-toggle="modal" data-target="#myModal">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container m-5">
    <div style="background-color: crimson;"></div>
</div> -->
<div class="modal fade" id="myModal" *ngIf="buttonClicked && (countryLoaded | async)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Vendor Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body m-5">
                <form [formGroup]="editForm">
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="vendorName">Vendor Name</label>
                            <input type="text" class="form-control" id="vendorName" formControlName="vendorName" placeholder="Enter Vendor Name">
                            <div *ngIf="!editForm.controls.vendorName.valid && ( editForm.controls.vendorName.dirty || editForm.controls.vendorName.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.vendorName.errors.required">
                                            Vendor Name is Required
                                        </small>
                                <small *ngIf="editForm.controls.vendorName.invalid && !editForm.controls.vendorName.errors.required">
                                            Vendor Name is invalid
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.vendorName.valid || !(editForm.controls.vendorName.dirty || editForm.controls.vendorName.touched)"><br></small>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="vendorRegNo">Vendor Registration Number</label>
                            <input type="text" class="form-control" id="vendorRegNo" formControlName="vendorRegNo" disabled placeholder="Enter Vendor Registration Number">
                            <div *ngIf="!editForm.controls.vendorRegNo.valid && ( editForm.controls.vendorRegNo.dirty || editForm.controls.vendorRegNo.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.vendorRegNo.errors.required">
                                            Vendor Registration Number is required
                                        </small>
                                <small *ngIf="editForm.controls.vendorRegNo.invalid && !editForm.controls.vendorRegNo.errors.required">
                                            Vendor Registration Number is invalid
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.vendorRegNo.valid || !(editForm.controls.vendorRegNo.dirty || editForm.controls.vendorRegNo.touched)"><br></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="addrLine">Address Line </label>
                            <input type="text" class="form-control" id="addrLine" formControlName="addrLine" placeholder="Enter Address Line 1">
                            <div *ngIf="!editForm.controls.addrLine.valid && ( editForm.controls.addrLine.dirty || editForm.controls.addrLine.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.addrLine.errors.required">
                                            Address is required
                                        </small>
                                <small *ngIf="editForm.controls.addrLine.invalid && !editForm.controls.addrLine.errors.required">
                                            Address is invalid
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.addrLine.valid || !(editForm.controls.addrLine.dirty || editForm.controls.addrLine.touched)"><br></small>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="imageURL">Image URL</label>
                            <input type="text" class="form-control" id="imageURL" formControlName="imageURL" placeholder="Enter Address Line 2">
                            <div *ngIf="!editForm.controls.imageURL.valid && ( editForm.controls.imageURL.dirty || editForm.controls.imageURL.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.imageURL.errors.required">
                                            Image URL is required
                                        </small>
                                <small *ngIf="editForm.controls.imageURL.invalid && !editForm.controls.imageURL.errors.required">
                                            Image URL is invalid
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.imageURL.valid || !(editForm.controls.imageURL.dirty || editForm.controls.imageURL.touched)"><br></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="country">Country</label><br>
                            <select id="country" formControlName="country" class="form-control">
                                        <option *ngFor="let item of countriesMap | keyvalue" [value]="item.value">{{item.value}}
                                        </option>
                                    </select>
                            <div *ngIf="!editForm.controls.country.valid && ( editForm.controls.country.dirty || editForm.controls.country.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.country.errors.required">
                                            Country is required
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.country.valid || !(editForm.controls.country.dirty || editForm.controls.country.touched)"><br></small>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                            <div>
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" formControlName="state" placeholder="Enter the State">
                                <div *ngIf="!editForm.controls.state.valid && ( editForm.controls.state.dirty || editForm.controls.state.touched ) " class="text-danger">
                                    <small *ngIf="editForm.controls.state.errors.required">
                                                State is required
                                            </small>
                                    <small *ngIf="editForm.controls.state.invalid && !editForm.controls.state.errors.required">
                                                State is invalid
                                            </small>
                                </div>
                                <div class="text-danger">
                                    <small *ngIf="editForm.controls.state.valid || !(editForm.controls.state.dirty || editForm.controls.state.touched)"><br></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="email">E-Mail Address</label>
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter E-mail address">
                            <div *ngIf="!editForm.controls.email.valid && ( editForm.controls.email.dirty || editForm.controls.email.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.email.errors.required">
                                            Email address is required
                                        </small>
                                <small *ngIf="editForm.controls.email.invalid && !editForm.controls.email.errors.required">
                                            Email address is invalid
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.email.valid || !(editForm.controls.email.dirty || editForm.controls.email.touched)"><br></small>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="vendorType">Vendor Type</label><br>
                            <select id="vendorType" formControlName="vendorType" class="form-control">
                                        <option value="Electricity">Electricity</option>
                                        <option value="Telephone">Telephone</option>
                                        <option value="DTH">DTH</option>
                                        <option value="Insurance">Insurance</option>
                                        <option value="Tax">Tax</option>
                                        <option value="Credit Card">Credit Card</option>
                                        <option value="Loan account">Loan account</option>
                                        <option value="Others">Others</option>
                                    </select>
                            <div *ngIf="!editForm.controls.vendorType.valid && ( editForm.controls.vendorType.dirty || editForm.controls.vendorType.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.vendorType.errors.required">
                                            Vendor Type is required
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.vendorType.valid || !(editForm.controls.vendorType.dirty || editForm.controls.vendorType.touched)"><br></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="contactNum">Contact Number</label>
                            <input type="text" class="form-control" id="contactNum" formControlName="contactNum" placeholder="Enter Contact number">
                            <div *ngIf="!editForm.controls.contactNum.valid && ( editForm.controls.contactNum.dirty || editForm.controls.contactNum.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.contactNum.errors.required">
                                            Contact Number is required
                                        </small>
                                <small *ngIf="editForm.controls.contactNum.invalid && !editForm.controls.contactNum.errors.required">
                                            Contact number is invalid
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.contactNum.valid || !(editForm.controls.contactNum.dirty || editForm.controls.contactNum.touched)"><br></small>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="website">Web site address</label>
                            <input type="url" class="form-control" id="website" formControlName="website" placeholder="Enter Website address">
                            <div *ngIf="!editForm.controls.website.valid && ( editForm.controls.website.dirty || editForm.controls.website.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.website.errors.required">
                                            Website address is required
                                        </small>
                                <small *ngIf="editForm.controls.website.invalid && !editForm.controls.website.errors.required">
                                            Website address is invalid
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.website.valid || !(editForm.controls.website.dirty || editForm.controls.website.touched)"><br></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="issuedDate">Certificate Issued Date</label>
                            <input type="text" class="ui-datepicker form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }" id="issuedDate" formControlName="issuedDate" placeholder="Enter certificate issued date">
                            <div *ngIf="!editForm.controls.issuedDate.valid && ( editForm.controls.issuedDate.dirty || editForm.controls.issuedDate.touched ) " class="text-danger">
                                <small>
                                            Certificate issued date is required
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.issuedDate.valid || !(editForm.controls.issuedDate.dirty || editForm.controls.issuedDate.touched)"><br></small>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="validityDate">Certificate Validity Date</label>
                            <input type="text" class="ui-datepicker form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue' }" id="validityDate" formControlName="validityDate" placeholder="Enter certificate validity date">
                            <div *ngIf="!editForm.controls.validityDate.valid && ( editForm.controls.validityDate.dirty || editForm.controls.validityDate.touched ) " class="text-danger">
                                <small>
                                            Certificate validity date is required
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.validityDate.valid || !(editForm.controls.validityDate.dirty || editForm.controls.validityDate.touched)"><br></small>
                            </div>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="establishedYr">Year of Establishment</label><br>
                            <select id="establishedYr" formControlName="establishedYr" class="form-control">
                                        <option *ngFor="let item of numbers" value="{{item}}">{{item}}</option>
                                    </select>
                            <div *ngIf="!editForm.controls.establishedYr.valid && ( editForm.controls.establishedYr.dirty || editForm.controls.establishedYr.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.establishedYr.errors.required">
                                            Year of establishment is required
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.establishedYr.valid || !(editForm.controls.establishedYr.dirty || editForm.controls.establishedYr.touched)"><br></small>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-12">
                            <label for="gateway">Enter Payment Gateway</label>
                            <input type="url" class="form-control" id="gateway" formControlName="gateway" placeholder="Enter Website address">
                            <div *ngIf="!editForm.controls.gateway.valid && ( editForm.controls.gateway.dirty || editForm.controls.gateway.touched ) " class="text-danger">
                                <small *ngIf="editForm.controls.gateway.errors.required">
                                            Payment Gateway is required
                                        </small>
                                <small *ngIf="editForm.controls.gateway.invalid && !editForm.controls.gateway.errors.required">
                                            Payment Gateway is invalid
                                        </small>
                            </div>
                            <div class="text-danger">
                                <small *ngIf="editForm.controls.gateway.valid || !(editForm.controls.gateway.dirty || editForm.controls.gateway.touched)"><br></small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer justify-content-xl-between">
                <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#sucessfailureModal" [disabled]="!editForm.valid || invalid" (click)="sendValue()">Save changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Dismiss</button>
            </div>

        </div>
    </div>
</div>
<div class="modal justify-content-center" id="sucessfailureModal" data-dismiss="modal">
    <div class="modal-dialog modal-lg  col-12" style="opacity: 1;">
        <div class="check_mark">
            <div class="sa-icon sa-success animate">
                <span class="sa-line sa-tip animateSuccessTip"></span>
                <span class="sa-line sa-long animateSuccessLong"></span>
                <div class="sa-placeholder"></div>
                <div class="sa-fix"></div>

            </div>
        </div>
    </div>
</div>