<div class="container">
    <div class="card m-3 p-3 mb-5">
        <div class=" justify-content-center">
            <h1>Credit Card Payment</h1>
        </div>
        <br>
        <form [formGroup]="paymentForm" (submit)="sendValue()">

            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="cardNumber">Credit Card Number</label>
                    <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber" placeholder="Enter Credit Card Number">
                    <div *ngIf="!paymentForm.controls.cardNumber.valid && (paymentForm.controls.cardNumber.dirty || paymentForm.controls.cardNumber.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.cardNumber.errors.required">
                            Credit Card Number is required
                          </small>
                        <small *ngIf="paymentForm.controls.cardNumber.invalid && !paymentForm.controls.cardNumber.errors.required">
                            Credit Card Number is invalid
                          </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.cardNumber.valid || !(paymentForm.controls.cardNumber.dirty || paymentForm.controls.cardNumber.touched)"><br></small>
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="Enter amount">
                    <div *ngIf="!paymentForm.controls.amount.valid && (paymentForm.controls.amount.dirty || paymentForm.controls.amount.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.amount.errors.required">
                            Amount is required
                          </small>
                        <small *ngIf="paymentForm.controls.amount.invalid && !paymentForm.controls.amount.errors.required">
                            Amount is invalid
                          </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.amount.valid || !(paymentForm.controls.amount.dirty || paymentForm.controls.amount.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="frequency">Frequency of Reminder</label><br>
                    <select id="frequency" class=" form-control" formControlName="frequency">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                    <div *ngIf="!paymentForm.controls.frequency.valid && (paymentForm.controls.frequency.dirty || paymentForm.controls.frequency.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.frequency.errors.required">
                                Frequency is required
                      </small>
                        <small *ngIf="paymentForm.controls.frequency.invalid && !paymentForm.controls.frequency.errors.required">
                                Frequency is invalid
                      </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.frequency.valid || !(paymentForm.controls.frequency.dirty || paymentForm.controls.frequency.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="vendor">Select Vendor</label><br>
                    <select id="vendor" formControlName="vendor" class="form-control">
                                <option *ngFor="let item of vendors" value="{{item.vendorName}}">{{item.vendorName}}</option>
                            </select>
                    <div *ngIf="!paymentForm.controls.vendor.valid && ( paymentForm.controls.vendor.dirty || paymentForm.controls.vendor.touched ) " class="text-danger">
                        <small *ngIf="paymentForm.controls.vendor.errors.required">
                                    Vendor is required
                                </small>
                    </div>
                    <div class="text-danger">
                        <small *ngIf="paymentForm.controls.vendor.valid || !(paymentForm.controls.vendor.dirty || paymentForm.controls.vendor.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <button type="submit" class="btn" style="background-color: #007bff;color: white;" [disabled]="!paymentForm.valid || invalid">Pay</button>
            </div>
        </form>
    </div>
</div>