<div class="row ml-2 mb-5 mr-3 mt-2">
    <div *ngFor="let bill of billDetails" class="card  mt-2" style="width: 100%;height: 10vw;">
        <app-bill class=" rounded-3" [bill]="bill" data-toggle="modal" data-target="#myModal" (billTypeEmitter)="setBillType($event)" (viewDetailsEmitter)="reviewVendor($event)">
        </app-bill>
    </div>
</div>
<!-- <div class="container m-5">
    <div style="background-color: crimson;"></div>
</div> -->
<div class="modal fade" id="myModal" *ngIf="buttonClicked">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Bill Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body m-5">
                <div class="row d-flex justify-content-between" *ngIf="billType==1">
                    <h5 class="col-5 ">Card Number</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.cardNumber}}</h5>
                </div>
                <div class="row d-flex justify-content-between" *ngIf="billType==2">
                    <h5 class="col-5 ">Customer Id </h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.customerID}}</h5>
                </div>
                <div class="row d-flex justify-content-between" *ngIf="billType==3 || billType==5">
                    <h5 class="col-5 ">Customer account number</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.accountNumber}}</h5>
                </div>
                <div class="row d-flex justify-content-between" *ngIf="billType==4 || billType==5">
                    <h5 class="col-5 ">Customer account Name</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.accountName}}</h5>
                </div>
                <div class="row d-flex justify-content-between" *ngIf="billType==4">
                    <h5 class="col-5 ">Customer Policy Number</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.accountNumber}}</h5>
                </div>
                <div class="row d-flex justify-content-between" *ngIf="billType==4">
                    <h5 class="col-5 ">Customer Date of Birth</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.dateOfBirth | date: 'dd/MM/yyyy'}}</h5>
                </div>
                <div class="row d-flex justify-content-between" *ngIf="billType==6">
                    <h5 class="col-5 ">Customer PAN Number</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.panNumber}}</h5>
                </div>
                <div class="row d-flex justify-content-between" *ngIf="billType==7">
                    <h5 class="col-5 ">Customer Telephone Number</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.telephoneNumber}}</h5>
                </div>
                <div class="row d-flex">
                    <h5 class="col-5 ">Vendor Name</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.vendor.vendorName}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Bill Date</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.date | date: 'dd/MM/yyyy'}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Frequency of Payment</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.frequency}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Vendor Register number</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.vendor.vendorRegNo}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Vendor Type</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.vendor.vendorType}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Vendor Address</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.vendor.address}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Vendor Contact Number</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.vendor.contactNumber}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Vendor Country</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{vendor.country}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Vendor state</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{vendor.state}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Vendor E-mail Address</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{vendor.email}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Payment gateway</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.paymentType}}</h5>
                </div>

                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Vendor Website</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.vendor.website}}</h5>
                </div>
                <div class="row d-flex justify-content-between">
                    <h5 class="col-5 ">Payment Amount</h5>
                    <h5 class="col-2">:</h5>
                    <h5 class="col-5">{{bill.amount}}</h5>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer justify-content-centre">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal justify-content-center" id="sucessfailureModal" data-dismiss="modal">
    <div class="modal-dialog modal-lg  col-12" style="opacity: 1;">
        <div class="check_mark">
            <div class="sa-icon sa-success animate">
                <span class="sa-line sa-tip animateSuccessTip"></span>
                <span class="sa-line sa-long animateSuccessLong"></span>
                <div class="sa-placeholder"></div>
                <div class="sa-fix"></div>

            </div>
        </div>
    </div>
</div>