<div class="container">
    <div class="card m-3 p-3 mb-5">
        <h1>Registration</h1>
        <div class="justify-content-center">
            <span [style.visibility]="'hidden'" class="alert alert-danger small justify-content-center"></span>
            <span class="alert alert-danger small" *ngIf="!registerStatus">{{error}}</span>
        </div>
        <div id="status" style="background-color: #f56c7c" *ngIf="userExists">User Already Exists... </div>
        <form [formGroup]="registrationForm" (submit)="sendValue()">

            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" id="first-name" formControlName="firstName" placeholder="Enter First Name">
                    <div *ngIf="!registrationForm.controls.firstName.valid && (registrationForm.controls.firstName.dirty || registrationForm.controls.firstName.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.firstName.errors.required">
                    First Name is required
                  </small>
                        <small *ngIf="registrationForm.controls.firstName.invalid && !registrationForm.controls.firstName.errors.required">
                    First Name is invalid
                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.firstName.valid || !(registrationForm.controls.firstName.dirty || registrationForm.controls.firstName.touched)"><br></small>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-12">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" id="last-name" formControlName="lastName" placeholder="Enter Last Name">
                    <div *ngIf="!registrationForm.controls.lastName.valid && (registrationForm.controls.lastName.dirty || registrationForm.controls.lastName.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.lastName.errors.required">
                    Last Name is required
                  </small>
                        <small *ngIf="registrationForm.controls.lastName.invalid && !registrationForm.controls.lastName.errors.required">
                    Last Name is invalid
                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.lastName.valid || !(registrationForm.controls.lastName.dirty || registrationForm.controls.lastName.touched)"><br></small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" id="age" formControlName="age" placeholder="Enter age">
                    <div *ngIf="!registrationForm.controls.age.valid && (registrationForm.controls.age.dirty || registrationForm.controls.age.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.age.errors.required">
                    Age is required
                  </small>
                        <small *ngIf="registrationForm.controls.age.invalid && !registrationForm.controls.age.errors.required">
                    Age is invalid
                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.age.valid || !(registrationForm.controls.age.dirty || registrationForm.controls.age.touched)"><br></small>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-12">
                    <label for="gender">Gender</label><br>
                    <select id="gender" class=" form-control" formControlName="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                    <div *ngIf="!registrationForm.controls.gender.valid && (registrationForm.controls.gender.dirty || registrationForm.controls.gender.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.gender.errors.required">
                        gender is required
              </small>
                        <small *ngIf="registrationForm.controls.gender.invalid && !registrationForm.controls.gender.errors.required">
                        gender is invalid
              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.gender.valid || !(registrationForm.controls.gender.dirty || registrationForm.controls.gender.touched)"><br></small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="aadhar-number">Aadhar Number</label>
                    <input type="text" class="form-control" id="aadhar-number" formControlName="aadharNumber" placeholder="Enter the aadhar number">
                    <div *ngIf="!registrationForm.controls.aadharNumber.valid && (registrationForm.controls.aadharNumber.dirty || registrationForm.controls.aadharNumber.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.aadharNumber.errors.required">
                    Aadhar number is required
                  </small>
                        <small *ngIf="registrationForm.controls.aadharNumber.invalid && !registrationForm.controls.aadharNumber.errors.required">
                    Aadhar number is invalid
                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.aadharNumber.valid || !(registrationForm.controls.aadharNumber.dirty || registrationForm.controls.aadharNumber.touched)"><br></small>
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-12">
                    <label for="pan-number">PAN Number</label>
                    <input type="text" class="form-control" id="pan-number" formControlName="panNumber" placeholder="Enter PAN Number">
                    <div *ngIf="!registrationForm.controls.panNumber.valid && (registrationForm.controls.panNumber.dirty || registrationForm.controls.panNumber.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.panNumber.errors.required">
                    PAN number is required
                  </small>
                        <small *ngIf="registrationForm.controls.panNumber.invalid && !registrationForm.controls.panNumber.errors.required">
                    PAN Number is invalid
                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.panNumber.valid || !(registrationForm.controls.panNumber.dirty || registrationForm.controls.panNumber.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="contact-number">Contact Number</label>
                    <input type="text" class="form-control" id="contact-number" formControlName="contactNumber" placeholder="Enter Contact Number">
                    <div *ngIf="!registrationForm.controls.contactNumber.valid && (registrationForm.controls.contactNumber.dirty || registrationForm.controls.contactNumber.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.contactNumber.errors.required">
                    Contact Number is required
                  </small>
                        <small *ngIf="registrationForm.controls.contactNumber.invalid && !registrationForm.controls.contactNumber.errors.required">
                    Contact Number is invalid
                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.contactNumber.valid || !(registrationForm.controls.contactNumber.dirty || registrationForm.controls.contactNumber.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="userid">UserID</label>
                    <input type="text" class="form-control" id="userid" formControlName="userID" placeholder="Enter User ID">
                    <div *ngIf="!registrationForm.controls.userID.valid && (registrationForm.controls.userID.dirty || registrationForm.controls.userID.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.userID.errors.required">
                    User Id is required
                  </small>
                        <small *ngIf="registrationForm.controls.userID.invalid && !registrationForm.controls.userID.errors.required">
                    User Id is invalid
                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.userID.valid || !(registrationForm.controls.userID.dirty || registrationForm.controls.userID.touched)"><br></small>
                    </div>

                </div>
            </div>

            <div class="form-row">


                <div class="form-group col-lg-6 col-md-12">
                    <label for="password">Password</label> <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password">
                    <div *ngIf="!registrationForm.controls.password.valid && (registrationForm.controls.password.dirty || registrationForm.controls.password.touched)" class="text-danger">
                        <small *ngIf="registrationForm.controls.password.errors.required">
                    Password is required
                  </small>
                        <small *ngIf="registrationForm.controls.password.invalid && !registrationForm.controls.password.errors.required">
                    Password is invalid
                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="registrationForm.controls.password.valid || !(registrationForm.controls.password.dirty || registrationForm.controls.password.touched)"><br></small>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-12">
                    <label for="cnfPwd">Confirm Password</label>
                    <input type="password" class="form-control" id="cnfPwd" formControlName="cnfPwd" placeholder="Enter confirm password">
                    <div *ngIf="!registrationForm.controls.cnfPwd.valid && ( registrationForm.controls.cnfPwd.dirty || registrationForm.controls.cnfPwd.touched ) " class="text-danger">
                        <small *ngIf="registrationForm.controls.cnfPwd.errors.required">
                            Confirm password is required
                        </small>
                        <small *ngIf="registrationForm.controls.cnfPwd.invalid && !registrationForm.controls.cnfPwd.errors.required && !registrationForm.controls.cnfPwd.errors.mismatch">
                            Confirm password is invalid
                        </small>
                        <small *ngIf="registrationForm.controls.cnfPwd.invalid && !registrationForm.controls.cnfPwd.errors.required && registrationForm.controls.cnfPwd.errors.mismatch">
                            Password and Confirm password does not match
                        </small>
                    </div>
                    <div class="text-danger">
                        <small *ngIf="registrationForm.controls.cnfPwd.valid || !(registrationForm.controls.cnfPwd.dirty || registrationForm.controls.cnfPwd.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn" [disabled]="!registrationForm.valid || invalid">Register</button>
            </div>
        </form>
    </div>
</div>