<div class="container">
    <div class="card m-3 p-3 mb-5">
        <div class=" justify-content-center">
            <h1>Loan Payment</h1>
        </div>
        <br>
        <form [formGroup]="paymentForm" (submit)="sendValue()">

            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="loanAccNumber">Loan Account Number</label>
                    <input type="text" class="form-control" id="loanAccNumber" formControlName="loanAccNumber" placeholder="Enter Loan Account Number">
                    <div *ngIf="!paymentForm.controls.loanAccNumber.valid && (paymentForm.controls.loanAccNumber.dirty || paymentForm.controls.loanAccNumber.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.loanAccNumber.errors.required">
                                Loan Account Number is required
                              </small>
                        <small *ngIf="paymentForm.controls.loanAccNumber.invalid && !paymentForm.controls.loanAccNumber.errors.required">
                                Loan Account Number is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.loanAccNumber.valid || !(paymentForm.controls.loanAccNumber.dirty || paymentForm.controls.loanAccNumber.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="accountName">Account Name</label>
                    <input type="text" class="form-control" id="accountName" formControlName="accountName" placeholder="Enter Account Name">
                    <div *ngIf="!paymentForm.controls.accountName.valid && (paymentForm.controls.accountName.dirty || paymentForm.controls.accountName.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.accountName.errors.required">
                                    Account Name is required
                                  </small>
                        <small *ngIf="paymentForm.controls.accountName.invalid && !paymentForm.controls.accountName.errors.required">
                                    Account Name is invalid
                                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.accountName.valid || !(paymentForm.controls.accountName.dirty || paymentForm.controls.accountName.touched)"><br></small>
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="Enter amount">
                    <div *ngIf="!paymentForm.controls.amount.valid && (paymentForm.controls.amount.dirty || paymentForm.controls.amount.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.amount.errors.required">
                                Amount is required
                              </small>
                        <small *ngIf="paymentForm.controls.amount.invalid && !paymentForm.controls.amount.errors.required">
                                Amount is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.amount.valid || !(paymentForm.controls.amount.dirty || paymentForm.controls.amount.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="frequency">Frequency of Reminder</label><br>
                    <select id="frequency" class=" form-control" formControlName="frequency">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                            </select>
                    <div *ngIf="!paymentForm.controls.frequency.valid && (paymentForm.controls.frequency.dirty || paymentForm.controls.frequency.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.frequency.errors.required">
                                    Frequency is required
                          </small>
                        <small *ngIf="paymentForm.controls.frequency.invalid && !paymentForm.controls.frequency.errors.required">
                                    Frequency is invalid
                          </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.frequency.valid || !(paymentForm.controls.frequency.dirty || paymentForm.controls.frequency.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="vendor">Select Vendor</label><br>
                    <select id="vendor" formControlName="vendor" class="form-control">
                                    <option *ngFor="let item of vendors" value="{{item.vendorName}}">{{item.vendorName}}</option>
                                </select>
                    <div *ngIf="!paymentForm.controls.vendor.valid && ( paymentForm.controls.vendor.dirty || paymentForm.controls.vendor.touched ) " class="text-danger">
                        <small *ngIf="paymentForm.controls.vendor.errors.required">
                                        Vendor is required
                                    </small>
                    </div>
                    <div class="text-danger">
                        <small *ngIf="paymentForm.controls.vendor.valid || !(paymentForm.controls.vendor.dirty || paymentForm.controls.vendor.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <button type="submit" class="btn" style="background-color: #007bff;color: white;" [disabled]="!paymentForm.valid || invalid">Pay</button>
            </div>
        </form>
    </div>
</div>