.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: contain;
}

.card {
    border: none;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#img {
    background-color: white;
    background-blend-mode: multiply;
}

#img3 {
    scale: 0.75;
}