<div>
    <div class="card-body" id="card" (click)="review(bill.id)"> 
        <div class=" row d-flex justify-content-between mr-3">
        <label for="vendorName" class="h3 card-title m-2">
            {{bill.vendor.vendorName}}
        </label>
        <div class="m-2">
            {{bill.date | date:'MM/dd/yyyy'}}
        </div>
    </div>
    <div class="row d-flex justify-content-between mr-3">
        <div class="m-2">
            <div class="h5">{{bill.vendor.vendorType}}</div>
        </div>
        <div class="m-2">
            <div class="h5">Rs. {{bill.amount}}</div>
        </div>
    </div>

</div>