<div>
    <img class="card-img-top embed-responsive-item embed-responsive-16by9" src="{{vendor.imageURL}}">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <label for="vendorName" class="h3 card-title ml-0">
                {{vendor.vendorName}}
            </label>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="m-2">
                <div class="h5" style="color: gray;">{{vendor.vendorType}}</div>
            </div>
            <div class="m-2">
                <span *ngIf="vendor.status==0" class="badge badge-success mr-0" style="background-color:blueviolet;border-radius: 3px;">
                    Signed up
                </span>
                <span *ngIf="vendor.status==1" class="badge badge-success mr-0" style="background-color: green;border-radius: 3px;">
                    Accepted
                </span>
                <span *ngIf="vendor.status==2" class="badge uk-badge-danger mr-0" style="background-color: red;border-radius: 3px;">
                    Rejected
                </span>
                <span *ngIf="vendor.status==3" class="badge badge-warning mr-0" style="background-color:orange;border-radius: 3px;">
                    Sent for review
                </span>
                <span *ngIf="vendor.status==4" class="badge badge-warning mr-0" style="background-color:coral;border-radius: 3px;">
                    Correction Done
                </span>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" class="btn" (click)="review(vendor.vendorId)">Review</button>
        </div>
    </div>
</div>