
.fa {
	padding: 7px;
	font-size: 15px;
	height: 25px;
	width: 35px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
	#name {
		margin-left: 22px;
	}
	#pwd {
		margin-left: 22px;
	}
	#alert-texts {
		margin-left: 5%;
	}
	#submit-button {
		margin-left: 20%;
		margin-right: 10%;
	}