<section class="container  mt-5  "><br><br>
    <div class="row">
        <div class="col-lg-3 col-sm-12">
        </div>
        <div class="col-lg-5 col-sm-12 "> <br><br>
            <form [formGroup]="loginForm" method="post">
                <h1>Login</h1>
                <br>
                <div class="justify-content-center"> <span [style.visibility]="'hidden'" class="alert alert-danger small justify-content-center"></span>
                    <span class="alert alert-danger small" *ngIf="!loginStatus">
            {{error}}
          </span>
                </div><br>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="name">
                <span class="text-danger">* </span>UserName
              </label>
                            <input type="text" class="form-control" id="name" name="userName" formControlName="userName" />
                            <div>
                                <span [style.visibility]="'hidden'" class="text-danger small">s</span>
                                <span class="text-danger small" id="alert-texts" *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched">
                  Please enter username !
                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="pwd">
                <span class="text-danger">* </span>Password
              </label>
                            <input type="password" class="form-control" id="pwd" name="passwrd" formControlName="passwrd" />
                            <div>
                                <span [style.visibility]="'hidden'" class="text-danger small">s</span>
                                <span class="text-danger small" id="alert-texts" *ngIf="loginForm.get('passwrd').invalid && loginForm.get('passwrd').touched">
                  Please enter password !
                </span></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-between " id="submit-button">
                    <div class="mb-4 ">&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" type="button" (click)="onSubmit(loginForm)" [disabled]="!loginForm.valid">
              Login
            </button>
                    </div>
                    <div class="mb-4 ">
                        New user?
                        <a routerLink="/registration" class="text-success">Signup &nbsp;&nbsp;&nbsp;</a>
                    </div>
                </div>
            </form><br><br>
        </div>
        <div class="col-lg-3 col-sm-12">
        </div>
    </div>
</section>