<div id="mainContent">
    <div class="container">
        <div class="row ml-2 mb-5 justify-content-between">
            <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-5 my-3 mx-2" id="card">
                <div class="m-3 row rounded-3">
                    <a routerLink="/vendor-signup"><img class="card-img-top embed-responsive-item embed-responsive-16by9" src="https://i1.wp.com/trainify.in/wp-content/uploads/2019/05/new-vendors-image.png?resize=1000%2C350&ssl=1"></a>
                </div>
                <div class="m-3 row rounded-3 justify-content-center">
                    <h3>New Vendor</h3>
                </div>

            </div>
            <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-5 my-3 mx-2" id="card">
                <div class="m-3 row rounded-3">
                    <a routerLink="/user-signup"><img class="card-img-top embed-responsive-item embed-responsive-16by9" src="https://www.seekpng.com/png/full/865-8659441_community-knights-third-party-vendor-icon.png"></a>
                </div>
                <div class="m-3 row rounded-3 justify-content-center">
                    <h3>New User</h3>
                </div>
            </div>
        </div>
    </div>

</div>