<div class="container">
    <div class="card m-3 p-3 mb-5">
        <div class=" justify-content-center">
            <h1>Insurance Payment</h1>
        </div>

        <br>
        <form [formGroup]="paymentForm" (submit)="sendValue()">

            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="policyNumber">Policy Number Number</label>
                    <input type="text" class="form-control" id="policyNumber" formControlName="policyNumber" placeholder="Enter Policy Number">
                    <div *ngIf="!paymentForm.controls.policyNumber.valid && (paymentForm.controls.policyNumber.dirty || paymentForm.controls.policyNumber.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.policyNumber.errors.required">
                                    Permanent Account Number is required
                                  </small>
                        <small *ngIf="paymentForm.controls.policyNumber.invalid && !paymentForm.controls.policyNumber.errors.required">
                                        Permanenet Account Number is invalid
                                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.policyNumber.valid || !(paymentForm.controls.policyNumber.dirty || paymentForm.controls.policyNumber.touched)"><br></small>
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="accName">Account Name</label>
                    <input type="text" class="form-control" id="accName" formControlName="accName" placeholder="Enter Account Name">
                    <div *ngIf="!paymentForm.controls.accName.valid && (paymentForm.controls.accName.dirty || paymentForm.controls.accName.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.accName.errors.required">
                                        Account Name is required
                                      </small>
                        <small *ngIf="paymentForm.controls.accName.invalid && !paymentForm.controls.accName.errors.required">
                                        Account Name is invalid
                                      </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.accName.valid || !(paymentForm.controls.accName.dirty || paymentForm.controls.accName.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" class="ui-datepicker form-control" id="dateOfBirth" formControlName="dateOfBirth" placeholder="Enter date of birth">
                    <div *ngIf="!paymentForm.controls.dateOfBirth.valid && ( paymentForm.controls.dateOfBirth.dirty || paymentForm.controls.dateOfBirth.touched ) " class="text-danger">
                        <small>
                                        Date of birth is required
                                    </small>
                    </div>
                    <div class="text-danger">
                        <small *ngIf="paymentForm.controls.dateOfBirth.valid || !(paymentForm.controls.dateOfBirth.dirty || paymentForm.controls.dateOfBirth.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="Enter amount">
                    <div *ngIf="!paymentForm.controls.amount.valid && (paymentForm.controls.amount.dirty || paymentForm.controls.amount.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.amount.errors.required">
                                    Amount is required
                                  </small>
                        <small *ngIf="paymentForm.controls.amount.invalid && !paymentForm.controls.amount.errors.required">
                                    Amount is invalid
                                  </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.amount.valid || !(paymentForm.controls.amount.dirty || paymentForm.controls.amount.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="frequency">Frequency of Reminder</label><br>
                    <select id="frequency" class=" form-control" formControlName="frequency">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                </select>
                    <div *ngIf="!paymentForm.controls.frequency.valid && (paymentForm.controls.frequency.dirty || paymentForm.controls.frequency.touched)" class="text-danger">
                        <small *ngIf="paymentForm.controls.frequency.errors.required">
                                        Frequency is required
                              </small>
                        <small *ngIf="paymentForm.controls.frequency.invalid && !paymentForm.controls.frequency.errors.required">
                                        Frequency is invalid
                              </small>
                    </div>
                    <div class="text-danger"><small *ngIf="paymentForm.controls.frequency.valid || !(paymentForm.controls.frequency.dirty || paymentForm.controls.frequency.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <label for="vendor">Select Vendor</label><br>
                    <select id="vendor" formControlName="vendor" class="form-control">
                                        <option *ngFor="let item of vendors" value="{{item.vendorName}}">{{item.vendorName}}</option>
                                    </select>
                    <div *ngIf="!paymentForm.controls.vendor.valid && ( paymentForm.controls.vendor.dirty || paymentForm.controls.vendor.touched ) " class="text-danger">
                        <small *ngIf="paymentForm.controls.vendor.errors.required">
                                            Vendor is required
                                        </small>
                    </div>
                    <div class="text-danger">
                        <small *ngIf="paymentForm.controls.vendor.valid || !(paymentForm.controls.vendor.dirty || paymentForm.controls.vendor.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <button type="submit" class="btn" style="background-color: #007bff;color: white;" [disabled]="!paymentForm.valid || invalid">Pay</button>
            </div>
        </form>
    </div>
</div>