<div class="container">
    <div class="card m-3 p-3 mb-5">
        <div class=" justify-content-center">
            <h1>Select payment Mode</h1>
        </div>

        <br>
        <form [formGroup]="paymentGroup" (submit)="sendValue()">
            <div class="form-row justify-content-center">
                <div class="form-group col-lg-6 col-md-12">
                    <select id="paymentMethod" formControlName="paymentMethod" class="form-control">
                                            <option value="cc">Credit card</option>
                                            <option value="netbanking">Netbanking</option>
                                            <option value="paytm">Paytm</option>
                                            <option value="googlePay">Google Pay</option>
                                        </select>
                    <div *ngIf="!paymentGroup.controls.paymentMethod.valid && ( paymentGroup.controls.paymentMethod.dirty || paymentGroup.controls.paymentMethod.touched ) " class="text-danger">
                        <small *ngIf="paymentGroup.controls.paymentMethod.errors.required">
                                                Payment Method is required
                                            </small>
                    </div>
                    <div class="text-danger">
                        <small *ngIf="paymentGroup.controls.paymentMethod.valid || !(paymentGroup.controls.paymentMethod.dirty || paymentGroup.controls.paymentMethod.touched)"><br></small>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <button type="submit" class="btn" style="background-color: #007bff;color: white;" [disabled]="!paymentGroup.valid || invalid">Pay</button>
            </div>
        </form>
    </div>
</div>